<div class="top-menu row centered-form center-block">
  <div class="container col-md-offset-1">
    <%= link_to I18n.t('questions.new'), new_question_path, class: "btn btn-success" %>
  </div>
</div>

<div class="list">
  <dl>
    <% @questions.each do |question| %>
      <div class="list-item">
        <li class="left tal">
          <%= link_to(question.title, question_path(question)) %>
        </li>
      </div>
    <% end %>
  </dl>
</div>